@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis.ttf);
}

body {
    background: #1B263B;
    font-family: Dosis;
    text-align: center;
    color: #E0E1DD;
    margin: 64px 10% 20px 10%;
  }

.about {
  background-color: #0D1B2A;
  margin: 25px auto;
  border-radius: 25px;
  max-width: 600px;
  align-self: center;
  padding: 10px;
}

h1 {
  margin: 10px 0;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #101010;
}

h2 {
  font-size:  1.2em;
  margin-top: 0;
}

.icon {
    fill: #E0E1DD;
    text-decoration: none;
}

.icon:hover {
    fill: #778DA9
}
